//  ==========================================================================
//
//  Rich Text
//
//  ==========================================================================
.rich-text {
  h1 {
    color: $white; 
    margin-bottom: 0;
    position: relative;
    text-shadow: 2px 1px $highlight;
    text-shadow: 
      2px 1px $navy,
      3px 3px $navy,
      4px 4px $navy;

    @include breakpoint(md) {
      color: $navy;
      margin: rem(0 0 5px);
      text-shadow: 3px 1px $highlight;
    }
  }

  h2 {
    margin-top: rem(40px);
    position: relative;

    @include breakpoint(sm) {
      margin-top: rem(60px);
    }

    @include breakpoint(md) {
      margin-top: rem(80px);
    }

    &:after {
      @include breakpoint(sm) {
        background: $navy;
        content: '';
        display: block;
        height: 3px;
        margin-left: rem(5px);
        margin: rem(10px 0);
        position: absolute;
        width: 25%;
      }

      @include breakpoint(sm) {
        top: rem(-20px);
        width: 12%;
      }

      @include breakpoint(lg) {
        margin-top: rem(20px);
        top: rem(-40px);
      }
    }

    +p {
      margin-top: rem(15px);
    }
  }

  p {
    @include font-size(20);
    color: $grey-dark;
    line-height: 1.5;
    margin-top: rem(10px);

    @include breakpoint(md) {
      margin-top: rem(30px);
    }
  }

  // .rich-text__intro {
  //   margin-top: rem(10px);

  //   @include breakpoint(sm) {
  //     float: left;
  //     margin-bottom: rem(70px);
  //     width: 64%;
  //   }

  //   @include breakpoint(md) {
  //     margin-right: 2%;
  //     width: 68%;
  //   }

  //   @include breakpoint(lg) {
  //     font-size: rem(24px);
  //     margin-bottom: rem(100px);
  //     margin-right: 0;
  //     width: 70%;
  //   }

  //   @include breakpoint(xl) {
  //     width: 71%;
  //   }
  // }

  // .rich-text__img {
  //   border: 3px solid $grey-medium;
  //   margin-top: rem(30px);
  //   overflow: visible !important;

  //   @include breakpoint(sm) {
  //     float: left;
  //     margin: rem(-55px 0 20px 20px);
  //     max-width: rem(200px);
  //     width: 32%;
  //   }

  //   @include breakpoint(md) {
  //     margin-top: rem(20px);
  //     width: rem(150px);
  //   }

  //   @include breakpoint(lg) {
  //     margin: rem(20px 0 30px 40px);
  //     width: rem(150px);
  //   }

  //   &::before,
  //   &::after {
  //     background: $grey-medium;
  //     content: '';
  //     position: absolute;
  //   }

  //   &::before {
  //     height: 3px;
  //     left: rem(-12px);
  //     top: rem(-12px);
  //     width: 30%;
  //   }

  //   &::after {
  //     height: 20%;
  //     left: rem(-12px);
  //     top: rem(-12px);
  //     width: 3px;
  //   }

  //   >div {
  //     position: relative;

  //     &::before,
  //     &::after {
  //       background: $grey-medium;
  //       content: '';
  //       position: absolute;
  //     }

  //     &::before {
  //       bottom: rem(-12px);
  //       height: 3px;
  //       right: rem(-12px);
  //       width: 30%;
  //     }

  //     &::after {
  //       bottom: rem(-12px);
  //       height: 20%;
  //       right: rem(-12px);
  //       width: 3px;
  //     }
  //   }
  // }

  .rich-text__content {
    @include breakpoint(sm) {
      clear: both;
      margin-left: auto;
      margin-right: auto;
      max-width: rem(580px);
    }

    @include breakpoint(lg) {
      margin: rem(0 auto);
      max-width: rem(700px);
    }
  }
}