//  ==========================================================================
//
//  Links
//
//  ==========================================================================
/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

a,
button {
  &:focus {
    outline-color: $highlight;
  }
}

$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.link--drop-in {
  position: relative;

  &::before,
  &::after {
    background-color: $highlight;
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &::before {
    opacity: 0;
    transform: translateY(-$distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }

  &::after {
    opacity: 0;
    transform: translateY(calc($distance/2));
    transition: transform 0.35s $easeOutBack, opacity 0.35s;
  }

  &:hover,
  &:focus,
  &.active {
    color: inherit;

    &::before,
    &::after {
      opacity: 1;
      transform: translateY(0);
    }

    &::before {
      transition: transform 0.35s $easeOutBack, opacity 0.35s;
    }

    &::after {
      transition: transform 0s 0.35s $easeOutBack, opacity 0s 0.35s;
    }
  }
}

.link--underline {
  line-height: 1.4;
  position: relative;

  span {
    background-image: linear-gradient(to bottom, white 70%, transparent 70%),
      linear-gradient(
        to right,
        rgba($highlight, 0.5) 33%,
        $spinnaker 66%,
        rgba($spinnaker, 0.4) 66%
      );
    background-position: 100% 0;
    background-size: 306% 100%;
    transition: 1s background-position;
  }

  &:hover {
    color: inherit;

    span {
      background-position: 0%;
    }
  }
}

.link--social {
  path {
    transition: $default-transition;
  }

  &:hover {
    path {
      fill: $navy;
    }
  }
}
