//  ==========================================================================
//
//  Type Styles
//
//  ==========================================================================
h1 {
  @include font-size(56);
  line-height: 1.055;
  margin: rem(20px 0 15px);
  text-shadow: -1px -1px #000;

  @include breakpoint(md) {
    @include font-size(72);
    margin: rem(40px 0 30px);
  }

  @include breakpoint(lg) {
    @include font-size(96);
    line-height: 1.025;
  }

  +p {
    @include font-line-height-px(18, 28);

    @include breakpoint(lg) {
      @include font-line-height-px(22, 34);
    }
  }
}

h2 {
  @include font-size(32);
  line-height: 1.055;

  @include breakpoint(lg) {
    @include font-size(42);
  }
}