//  ==========================================================================
//
//  Type Styles
//
//  ==========================================================================
h1 {
  @include font-size(96);
  line-height: 1.025;
  margin-bottom: rem(20px);
  text-shadow: -1px -1px #000;

  +p {
    @include font-line-height-px(22, 34);
  }
}