.carousel-wrap {
  @include breakpoint(sm) {
    margin-bottom: rem(60px);
  }

  @include breakpoint(md) {
    padding: rem(0 30px);
  }
}

.carousel {
  padding-bottom: rem(60px);

  .slick-track {
    display: flex;

    .slick-slide {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: rem(10px);

      > div {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }
    }
  }

  .carousel__slide {
    height: 100%;

    > img {
      height: rem(350px);
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;

      @include breakpoint(sm) {
        height: rem(600px);
      }

      @include breakpoint(lg) {
        height: rem(250px);
      }

      @include breakpoint(xl) {
        height: rem(350px);
      }
    }
  }

  .slick-list {
    margin: 0 -5px;
  }

  .slick-dots {
    bottom: rem(30px);
    margin-left: rem(3px);

    li {
      height: auto;
      width: auto;

      button {
        height: rem(12px);
        padding: 0;
        position: relative;
        width: rem(12px);

        &::before {
          background: $navy;
          border-radius: 50%;
          content: '';
          height: 100%;
          transition: opacity 0.15s;
          width: 100%;
        }
      }

      &.slick-active {
        button::before {
          color: $navy;
          opacity: 1;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    @include breakpoint(md) {
      background-color: $highlight-light;
      height: rem(38px);
      top: 48%;
      transition: all 0.3s;
      width: rem(45px);
      z-index: 1;
    }

    @include breakpoint(lg) {
      top: 42%;
    }

    &::before {
      @include breakpoint(md) {
        @include font-size(38);
        color: $navy;
        content: '\2192';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.15s all;
      }
    }
  }

  .slick-prev {
    &::before {
      @include breakpoint(md) {
        transform: rotate(180deg);
      }
    }
  }

  .slick-prev,
  .slick-next {
    &:hover,
    &:focus,
    &:active {
      &::before {
        @include breakpoint(md) {
          color: $white;
        }
      }
    }
  }
}
