//  ==========================================================================
//
//  Home Page
//
//  ==========================================================================
.home-img--mobile {
  margin-bottom: rem(20px);
  z-index: 1;

  @include breakpoint(xs) {
    margin-bottom: rem(30px);
  }
}

.home-img {
  @include breakpoint(md) {
    position: absolute !important;
    right: -20%;
    bottom: rem(-20px);
    width: 62%;
  }

  @include breakpoint-hw(sm, md) {
    bottom: rem(-40px);
    max-width: rem(380px);
  }

  @include breakpoint(lg) {
    right: -8%;
    width: 55%;
    max-width: 55%;
  }
}

.home {
  @include breakpoint(md) {
    height: 100%;
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: rem(620px);
  }

  @include breakpoint(lg) {
    display: flex;
    align-items: center;
    max-width: rem(920px);
  }
}

.home__content {
  margin-bottom: rem(20px);
  max-width: rem(430px);
  position: relative;

  @include breakpoint(md) {
    top: 18%;
    max-width: rem(400px);
  }

  @include breakpoint-hw(sm, md) {
    top: rem(70px);
  }

  @include breakpoint(lg) {
    margin-top: rem(-50px);
    top: 0;
    max-width: rem(500px);
  }
}